<!doctype html>
<html>
<head>
	<title>Vue Switchable Grid</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>

	<div id="main">
		
		<div class="nav">
			<a class="list-icon" v-bind:class="{ 'active': layout == 'list' }" v-on:click="layout = 'list'" href="#">
			</a>
			<a class="grid-icon" v-bind:class="{ 'active': layout == 'grid' }" v-on:click="layout = 'grid'" href="#"></a>
		</div>


	<ul class="grid" v-if="layout == 'grid'">
		<li v-for="r in results">
			<a v-bind:href="r" target="_blank"><img v-bind:src="r" /></a>
		</li>
	</ul>

	<ul class="list" v-if="layout == 'list'">
		<li v-for="r in results">
			<a v-bind:href="r" target="_blank"><img v-bind:src="r" /></a>
			<p>{{ r }}</p>
		</li>
	</ul>

	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="main.js"></script>

</body>
</html>